@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer base {
  input,
  textarea,
  select {
    @apply text-base;
  }
  :root {
    --background: 240 10% 8%;
    --foreground: 0 0% 98%;

    --muted: 240 8% 12%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;

    --border: 240 6% 18%;
    --input: 240 6% 18%;

    --primary: 240 67% 59%;
    --primary-foreground: white;

    --secondary: 300 94% 68%;
    --secondary-foreground: 0 0% 98%;

    --accent: 248 64% 58%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 67% 59%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 8%;
    --foreground: 0 0% 98%;

    --muted: 240 8% 12%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;

    --border: 240 6% 18%;
    --input: 240 6% 18%;

    --primary: 240 67% 59%;
    --primary-foreground: 240 10% 8%;

    --secondary: 300 94% 68%;
    --secondary-foreground: 0 0% 98%;

    --accent: 248 64% 58%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 67% 59%;
  }

  .nav-link {
    @apply text-3xl;
  }
}

@layer base {
  * {
    @apply border-border font-urbanist;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
